# Custom local ignore rules
*no*commit*
*No*Commit*
*NO*COMMIT*
*.bak
*.bkp.*
*.bkp
*.log
*.swp
*.out
*.zip
*.del
*.del.*
_ide_helper*
*.localonly.
.vite
dist*

# Node & Package Managers
node_modules/
.pnpm-store/
.turbo/

# Nuxt & Frontend build artifacts
.nuxt/
.output/
.nitro/

# PHP / Composer
vendor/
.phpunit.result.cache

# Environment files
.env
.env.*
!.env.example

# OS and Editor
.DS_Store
Thumbs.db
.idea/
.vscode/
