APP_NAME="Healthcare SaaS API"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_STACK=single
LOG_LEVEL=debug

DB_CONNECTION=pgsql
DB_HOST=172.17.0.1
DB_PORT=1010
DB_DATABASE=dev_meu_banco
DB_USERNAME=postgres
DB_PASSWORD=postgres

SESSION_DRIVER=redis
SESSION_LIFETIME=120

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=s3
QUEUE_CONNECTION=redis

CACHE_STORE=redis
CACHE_PREFIX=health_saas_cache

REDIS_CLIENT=phpredis
REDIS_HOST=172.17.0.1
REDIS_PASSWORD=null
REDIS_PORT=1020

MAIL_MAILER=smtp
MAIL_HOST=172.17.0.1
MAIL_PORT=1025
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS="noreply@local.basecartao.com.br"
MAIL_FROM_NAME="Healthcare SaaS"

AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=generic
AWS_ENDPOINT=http://172.17.0.1:9001
AWS_USE_PATH_STYLE_ENDPOINT=true

CENTRAL_DOMAINS="localhost,127.0.0.1"
TENANCY_DATABASE_DRIVER=pgsql
